<!DOCTYPE html>
<html lang="de">
    <!--Unsichtbarer Teil der Website-->
    <!--Grundlegende Einstellungen der Seite-->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--steht im Brwoser-Tab-->
        <Title>N27 Login</Title>

    </head>
    <!--Alles, was auf der Seite im Browserfenster angezeigt werden soll, muss im Body stehen.-->
    <body>
        <section>
            <h1 id="Header1">bitte Anmelden!</h1>
            <!--Label isn Element, das etwas anzeigt-->
            <label for="Benutzer-ID">Benutzer-ID</label>
                <p></p>
                <!--Element nom typ text, in das getippt werden kann-->
            <input type="text" name="Benutzer-ID" id="Benutzer-ID" size="30" required>
                <p></p>
            <label for="passwd">Passwort</label>
                <p></p>  
                <!--Element vom typ passwort, das eingaben maskiert-->
            <input type="password" name="Passwort" id="passwd" size="30" minlength="5" maxlength="40" required>
                <p></p>
                <!--Element vom typ Button, das eine Schaltfläche zeigt-->
            <button id="AnmeldeButton">Anmelden</button>
        </section>
    </body>
</html>
